{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% block navbar %}{% endblock %}
    <div class="login-container">
      <div class="flex flex-wrap w-3/4 lg:w-2/3">
        <div class="w-full lg:w-1/2 flex justify-center items-center">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="w-3/4"
            alt="Illustration"
          />
        </div>
        <div class="w-full lg:w-1/2 flex justify-center items-center">
          <div class="login-box">
            <div class="text-center mb-4 mt-[-10px]">
              <p class="text-2xl font-extrabold text-blue-900">Member Login</p>
            </div>
            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% if messages %}
            <div class="mb-4 text-center">
                {% for message in messages %}
                    {% if message.tags == "success" %}
                        <p class="text-green-500">{{ message }}</p>
                    {% elif message.tags == "error" %}
                        <p class="text-red-500">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
              <input
                type="text"
                class="form-control w-full p-3 rounded-full pr-10 mb-3"
                placeholder="Username"
                required name="username"
              />
              <div class="relative w-full mb-3">
                <input type="password" id="password" name="password" placeholder="Password" class="form-control w-full p-3 rounded-full pr-10" required>
                <button type="button" onclick="togglePassword('password', 'eyeIcon1')" class="absolute inset-y-0 right-3 flex items-center">
                    <svg id="eyeIcon1" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5s8.268 2.943 9.542 7c-1.274 4.057-5.065 7-9.542 7s-8.268-2.943-9.542-7z" />
                    </svg>
                </button>
            </div>
              <button
                type="submit"
                class="w-full bg-blue-500 p-3 rounded-full mt-4 text-white font-semibold hover:bg-blue-600 transition"
              >
                LOGIN
              </button>
            </form>
            <p class="text-center text-sm mt-4 text-blue-800">
              Don't have an account?
              <a href="{% url 'register' %}" class="register-link hover:underline">Register</a>
            </p>
            <div class="flex justify-center text-sm">
              <a href="{% url 'forgot_password' %}" class="register-link hover:underline">Forgot password?</a>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}