{% extends "base.html" %}
{% block title %}{{ user.username }}'s profile{% endblock %}
{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="mb-4 p-3 rounded {% if message.tags == 'success' %} bg-green-500 {% else %} bg-red-500 {% endif %}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
<div class="profile-section bg-white p-8 rounded-lg shadow-lg text-black">
    <h2 class="text-2xl text-center font-extrabold text-blue-900 mb-4">{{ profile.user }}'s profile</h2>
    <div class="profile-container">
        <div class="profile-info flex gap-2">
            <p class="profile-label">Username:</p>
            <p class="profile-value">{{ profile.user }}</p>
        </div>
        <div class="profile-info flex gap-2">
            <p class="profile-label">Email:</p>
            <p class="profile-value">{{ user.email }}</p>
        </div>
        <div class="profile-info flex gap-2">
            <p class="profile-label">Area Of Interest:</p>
            <p class="profile-value">{{ profile.area_of_interest }}</p>
        </div>
        <div class="profile-info flex gap-2">
            <p class="profile-label">Age:</p>
            <p class="profile-value">{{ profile.age }}</p>
        </div>
        <div class="profile-info flex gap-2">
            <p class="profile-label">State:</p>
            <p class="profile-value">{{ profile.state }}</p>
        </div>
        <div class="profile-info flex gap-2">
            <p class="profile-label">Country:</p>
            <p class="profile-value">{{ profile.country }}</p>
        </div>
    </div>
    {% if request.user == user %}
    <div class="mt-6">
        <a href="{% url 'edit_profile' %}" class="px-4 py-2 bg-blue-500 hover:bg-blue-700 rounded text-white">Edit Profile</a>
    </div>
    {% endif %}
</div>

{% endblock %}