{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% load static %}
{% block content %}
{% block navbar %}{% endblock %}

<div class="signup-container">
    <div class="Signup_LeftSide">
        <img class="SignUp_Page_Img" src="{% static 'Images/Signup_Page_Img.png' %}" alt="Sign Up" />
    </div>
    <div class="Signup_RightSide">
        <p class="Signup_RightSide_head">Advertiser Sign Up!</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="image-upload" class="flex flex-col items-center justify-center cursor-pointer" style="display: flex; align-items: center; justify-content: center; margin-bottom: 10px;">
                <input type="file" name="profile_image" id="image-upload" accept="image/*" class="hidden" onchange="previewImage(event)" required />
                <img id="image-preview" src="{% static 'assets/profile-pic.png' %}" alt="Upload Profile Pic" class="w-48 h-56 object-contain mt-2 rounded-2xl" />
                <span class="text-sm mt-2">Upload Profile Image</span>
                {% if errors.profile_image %}
                    <p class="text-red-500 text-sm">{{ errors.profile_image }}</p>
                {% endif %}
            </label>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                {% for field in form %}
                    <div>
                        {{ field }}
                        {% if field.errors %}
                            <div class="error text-red-500 text-sm mt-1">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        
            <div class="mt-6">
                <button type="submit" class="btn Signup_Button">Sign Up</button>
            </div>
        </form>

        <p>
            Already have an account?
            <a class="user-signup-login" href="{% url 'login' %}">Login</a>
        </p>
    </div>
</div>


    
<script>
    function previewImage(event) {
        const reader = new FileReader();
        reader.onload = function () {
            document.getElementById('image-preview').src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
  </script>
{% endblock %}
