{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% load static %}
{% block content %}
{% block navbar %}{% endblock %}

<div class="signup-container">
    <div class="Signup_LeftSide">
        <img class="SignUp_Page_Img" src="{% static 'Images/Signup_Page_Img.png' %}" alt="Sign Up" />
    </div>
    <div class="Signup_RightSide">
        <p class="Signup_RightSide_head">Advertiser Sign Up!</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                <div class="mb-3 mt-3">
                    {{ field }}
                    {% if field.errors %}
                        <div class="error text-red-500 text-center mb-3">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn Signup_Button mb-5">Sign Up</button>
        </form>

        <p>
            Already have an account?
            <a class="user-signup-login" href="{% url 'login' %}">Login</a>
        </p>
    </div>
</div>


    

{% endblock %}
