{% extends "base.html" %}
{% block title %}Post List{% endblock %}
{% block content %}
<a href="{% url 'logout' %}" class="px-6 py-2 bg-red-500 text-white rounded">Logout</a>
<h2>
    Hlo
</h2>
{% for post in posts %}
<div class="bg-black">
    <p>{{ post.user.username }}: {{ post.content }}</p>
    {% if post.image %}
        <img src="{{ post.image.url }}" width="300">
    {% endif %}
    <button class="like-btn" data-post-id="{{ post.id }}">
        {% if request.user in post.likes.all %}
            Unlike
        {% else %}
            Like
        {% endif %}
    </button>
    <span id="likes-count-{{ post.id }}">{{ post.likes.count }}</span> Likes

    <form method="post" action="{% url 'comment_post' post.id %}">
        {% csrf_token %}
        <input type="text" name="text" placeholder="Add a comment">
        <button type="submit">Comment</button>
    </form>

    {% for comment in post.comments.all %}
        <p>{{ comment.user.username }}: {{ comment.text }}</p>
    {% endfor %}
</div>
{% endfor %}    

{% endblock %}



